mixin sProdCardMobile(secondVariant)
	// start sProdCard
	+b.sProdCard--mobile.section.pb-0.d-lg-none&attributes(attributes) 
			+e.swiper-wrap
				+e.slider--mob-js.swiper
					.swiper-wrapper
						-for(let i = 0; i < 8; i++)
							+e.slide.swiper-slide
								+e.img-wrap(data-fancybox='prod-card-gallery' data-src='img/sProdCard-img-1.jpg')
									.img-wrap-center
										+img(`img/sProdCard-img-1.jpg`, 'bg')
					+e.slider-info
						+e.slider-count
							span.current-slide 01
							span.all-slides /00
						+e.pagination-wrap
							.swiper-pagination
				+e.main-slider-arrow-wrap.d-none.d-sm-block
					+arrow()
	// end sProdCard
mixin sProdCard(secondVariant)
	// start sProdCard
	+b.SECTION.sProdCard.section#sProdCard&attributes(attributes)
		
		.container
			+e.row.row
				.col-lg-7.col-xl-8
					+e.full-slider-wrap.d-none.d-lg-flex
						+e.thumb-arrow-wrap
							+e.thumb-slider--thumb-js.swiper
								.swiper-wrapper
									- for (var y = 0; y < 3; y++)
										- for (var x = 1; x < 5; x++)
											+e.slide-thumb.swiper-slide
												+e.img-wrap
													.img-wrap-center
														+img(`img/sProdCard-img-sm-${x}.jpg`, 'bg')
							.d-none.d-md-block
								+arrow()
						+e.swiper-wrap
							+e.slider--js.swiper
								.swiper-wrapper
									-for(let i = 0; i < 8; i++)
										+e.slide.swiper-slide
											+e.img-wrap(data-fancybox='prod-card-gallery' data-src='img/sProdCard-img-1.jpg')
												.img-wrap-center
													+img(`img/sProdCard-img-1.jpg`, 'bg')
								+e.slider-info
									+e.slider-count
										span.current-slide 01
										span.all-slides /00
									+e.pagination-wrap
										.swiper-pagination
							+e.main-slider-arrow-wrap
								+arrow()
					
					if secondVariant
						+sidePanel({
							status: false,

							start: 'Начальная цена',
							price: '48 112 100 ₽',
							discount: false,
							tax: false,

							features: false,

							btnOnTop: false,
							filledBtn: 'Принять участие',
							outlineBtn: 'Подготовка документов на участие',
						
							subtitle: false,
							list: [
								{
									key: 'Шаг',
									val: '283 850 ₽',
								},
								{
									key: 'Сумма задатка',
									val: '567 700 ₽',
								},
								{
									key: 'Внесение задатка до',
									val: '21.09.2023 23:59',
								},
								{
									key: 'Прием заявок до',
									val: '21.09.2023 23:59',
								}
							],

							person: {
								img: 'avatar-2.jpg',
								name: 'Алексей Черницкий',
								post: 'Эксперт по продажам'
							}
						}).d-block.d-lg-none
					else
						+sidePanel({
							status: [
								{
									bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
									text: 'Быстрая сделка'
								},
								{
									bgColor: 'linear-gradient(180deg, #6BB8D0 0%, #4FD5FF 100%)',
									text: 'Ипотека'
								}
							],

							start: 'Стоимость объекта',
							price: '25 500 000 ₽',
							discount: '25 500 000 ₽',
							tax: true,

							features: true,

							btnOnTop: true,
							filledBtn: 'Предложить свою цену',
							outlineBtn: 'Расчитать ипотеку',

							subtitle: 'Финансовые показатели',
							list: [
								{
									key: 'Доходность',
									val: '14,5%',
								},
								{
									key: 'Окупаемость',
									val: '8 лет',
								},
								{
									key: 'Месячный арендный поток',
									val: '500 000 ₽',
								}
							],

							person: {
								img: 'avatar.jpg',
								name: 'Валентина Иванова',
								post: 'Эксперт по продажам'
							}
						}).d-block.d-lg-none
					if secondVariant
						+e.wrap
							h2 Описание
							p Сдается в&nbsp;аренду помещение свободного назначения&nbsp;&mdash; 175,3 м2&nbsp;Два уровня: 99&nbsp;м2&nbsp;на цокольном этаже и&nbsp;76,3 м2&nbsp;на первом этаже. Мощность 35&nbsp;кВт (с&nbsp;возможностью увеличения). Потолок от&nbsp;2,5&nbsp;м. Два отдельных входа как для первого этажа, так и&nbsp;для цокольного. Входы расположены во&nbsp;дворе здания, с&nbsp;проходом через арку. На&nbsp;земельный участок внутреннего двора заключен договор аренды с&nbsp;администрацией города, и&nbsp;имеются парковочные места
							+e.info-table
								table
									mixin tr(key, val)
										tr
											td!= key
											td
												if val
													!= val
												else 
													block
									+tr('Направление продаж', 'Имущество частных собственников')
									+tr('Вид процедуры', 'Аукцион с открытой формой подачи предложений')
									+tr('Код лота', '')
										a(href="#") РАД-347018 
									+tr('Код процедуры', '')
										a(href="#") 163929
									+tr('Адрес', 'Самарская обл., Кошкинский р-н, Кошки&nbsp;с, ул.&nbsp;60&nbsp;лет Октября, дом 23А; Самарская обл., Кошкинский р-н, с. Кошки, ул.&nbsp;60&nbsp;лет Октября, д. 21Б')
						+e.wrap
							h2 Характеристики
							ul
								mixin li(key,val)
									li
										span.wrap-left
											span.key!=key
										span.wrap-right
											span.val!= val
								+li('Окна', 'Пластиковые')
								+li('Планировка', 'Открытая')
								+li('Высота потолков', '99 м²')
								+li('Вход', 'Отдельный')
								+li('Ремонт', 'Предчистовая отделка')
								+li('Эл. мощность', '35 кВт')
								+li('Окна', 'Пластиковые')
								+li('Планировка', 'Открытая')
								+li('Высота потолков', '99 м²')
								+li('Вход', 'Отдельный')
						+e.wrap
							h2 Арендаторы
							+e.table-wrap
								table
									thead
										tr
											th Арендатор
											th МАП
											th ГАП
											th.text-center Договор
											th.text-center Индексация
											th Детализация арендного потока
									tbody 
										tr
											td Бургер Кинг
											td 290 000 ₽
											td 3 480 000 ₽
											td.text-center ДДА
											td.text-center 5%
											td ДДА до 02.2024г
										tr
											td Хорошая компания
											td 301 032 ₽
											td 3 612 384 ₽
											td.text-center КДА
											td.text-center 5%
											td ДА 13.03.2023 - 31.03.2026
										tr
											td Антидот ритейл
											td 320 000 ₽
											td 3 840 000 ₽
											td.text-center ДДА
											td.text-center 5%
											td ДДА до 12.2026г
						+e.wrap
							h2 Расположение
							+e.map: #map 
						+e.wrap
							h2 Порядок ознакомления с имуществом
							.tabs
								.tabs__caption.swiper.breadcrumb-slider--js
									.swiper-wrapper
										.tabs__btn.active.swiper-slide Процесс участия
										.tabs__btn.swiper-slide Документы
										.tabs__btn.swiper-slide Должник
										.tabs__btn.swiper-slide Сведения о договоре
								.tabs__content.active
									mixin content(title, text)
										+e.content-row
											.row
												+e.name-col.col!=title
												.col: p!= text
									+e.content
										h4 Оплата и процесс участия
										+content('Условия оплаты', 'Для участия в&nbsp;Торгах Заявитель представляет Оператору торгов (далее&nbsp;ОТ) в&nbsp;электронной форме подписанный электронной подписью Заявителя договор о&nbsp;внесении задатка. Заявитель обязан в&nbsp;срок и&nbsp;в&nbsp;соответствии с&nbsp;договором о&nbsp;внесении задатка внести задаток путем перечисления денежных средств на&nbsp;счет для зачисления задатков&nbsp;ОТ: получатель платежа АО&nbsp;&laquo;Российский аукционный дом&raquo; (ИНН 7838430413, КПП 783801001). В&nbsp;назначении платежа необходимо указывать: &laquo;&#8470; л/с .... Задаток для участия в&nbsp;торгах&raquo;. Заявитель вправе направить задаток по&nbsp;вышеуказанным реквизитам без представления подписанного договора о&nbsp;внесении задатка. В&nbsp;этом случае перечисление задатка Заявителем считается акцептом размещенного на&nbsp;ЭТП договора о&nbsp;внесении задатка. Задаток за&nbsp;участие в&nbsp;Торгах составляет&nbsp;10 (десять) процентов от&nbsp;начальной цены лота. Датой внесения задатка считается дата поступления денежных средств, перечисленных в&nbsp;качестве задатка, на&nbsp;счет ОТ. Непоступление задатка на&nbsp;счет&nbsp;ОТ или поступление задатка по&nbsp;истечении установленного срока или поступление задатка в&nbsp;меньшем размере является основанием для отказа в&nbsp;допуске Заявителя к&nbsp;участию в&nbsp;Торгах')
										+content('Реквизиты счетов, на которые вносится задаток', 'Получатель платежа АО&nbsp;&laquo;Российский аукционный дом&raquo; (ИНН 7838430413, КПП 783801001): Северо-Западный Банк ПАО Сбербанк, Санкт-Петербург, БИК 044030653, к/с 30101810500000000653, р/с 40702810355000036459')
									+e.content
										h4 Порядок проведения процедуры
										+content('Порядок оформления участия в&nbsp;процедуре, перечень документов участника и&nbsp;требования к&nbsp;оформлению:', 'К&nbsp;участию в&nbsp;Торгах допускаются физические и&nbsp;юридические лица (далее&nbsp;&mdash; Заявитель), зарегистрированные в&nbsp;установленном порядке на&nbsp;ЭТП. Для участия в&nbsp;Торгах Заявитель представляет Оператору заявку на&nbsp;участие в&nbsp;Торгах. Заявка на&nbsp;участие в&nbsp;Торгах должна содержать: наименование, организационно-правовую форму, место нахождения, почтовый адрес (для юридического лица); фамилию, имя, отчество, паспортные данные, сведения о&nbsp;месте жительства (для физического лица); номер контактного телефона, адрес электронной почты, сведения о&nbsp;наличии или об&nbsp;отсутствии заинтересованности Заявителя по&nbsp;отношению к&nbsp;должнику, кредиторам, конкурсному управляющему (ликвидатору) и&nbsp;о&nbsp;характере этой заинтересованности, сведения об&nbsp;участии в&nbsp;капитале Заявителя конкурсного управляющего (ликвидатора), предложение о&nbsp;цене имущества. К&nbsp;заявке на&nbsp;участие в&nbsp;Торгах должны быть приложены копии документов согласно требованиям&nbsp;п.&nbsp;11&nbsp;ст.&nbsp;110 Федерального закона от&nbsp;26.10.2002 &#8470;&nbsp;127-ФЗ &laquo;О&nbsp;несостоятельности (банкротстве)&raquo;')
										+content('Порядок и&nbsp;критерии определения победителя торгов', 'Победителем Торгов (далее также Победитель) признается Участник, предложивший наибольшую цену за&nbsp;лот, но&nbsp;не&nbsp;ниже начальной цены продажи лота')
										+content('Дата, время и&nbsp;место подведения результатов открытых торгов', 'Торги имуществом финансовой организации будут проведены в&nbsp;14:00 (МСК) на&nbsp;электронной площадке АО&nbsp;&laquo;Российский аукционный дом&raquo; по&nbsp;адресу: http://lot-online.ru (далее ЭТП). Время окончания Торгов: &mdash;&nbsp;по&nbsp;истечении 1&nbsp;часа с&nbsp;начала Торгов, если не&nbsp;поступило ни&nbsp;одного предложения о&nbsp;цене предмета Торгов (лота) после начала Торгов; &mdash;&nbsp;по&nbsp;истечении 30&nbsp;минут, если после представления последнего предложения о&nbsp;цене предмета Торгов (лота) не&nbsp;поступило следующее предложение о&nbsp;цене предмета Торгов (лота). Результаты Торгов оформляются протоколом о&nbsp;результатах проведения Торгов в&nbsp;день их&nbsp;проведения. Протокол о&nbsp;результатах проведения Торгов, утвержденный Оператором торгов (далее&nbsp;ОТ), размещается на&nbsp;ЭТП')
								.tabs__content
									+e.download
										+e.download-item(href='#')
											.pdf PDF
											| Dog_nedv.doc , 31.08.23 12:04
											+icon('download')
										+e.download-item(href='#')
											.pdf PDF
											| Договор о задатке (аукцион банкротство).doc , 31.08.23 12:04
											+icon('download')
										+e.download-item(href='#')
											.pdf PDF
											| А_откр+ППП_все_лоты.docx , 31.08.23 12:04
											+icon('download')
								.tabs__content 3
								.tabs__content 4
					else
						+e.wrap
							h2 Описание
							p Сдается в&nbsp;аренду помещение свободного назначения&nbsp;&mdash; 175,3 м2&nbsp;Два уровня: 99&nbsp;м2&nbsp;на цокольном этаже и&nbsp;76,3 м2&nbsp;на первом этаже. Мощность 35&nbsp;кВт (с&nbsp;возможностью увеличения). Потолок от&nbsp;2,5&nbsp;м. Два отдельных входа как для первого этажа, так и&nbsp;для цокольного. Входы расположены во&nbsp;дворе здания, с&nbsp;проходом через арку. На&nbsp;земельный участок внутреннего двора заключен договор аренды с&nbsp;администрацией города, и&nbsp;имеются парковочные места
							+e.btn.btn.btn-light(href='#') Запросить презентацию объекта
						+e.wrap
							h2 Характеристики
							ul
								mixin li(key,val)
									li
										span.wrap-left
											span.key!=key
										span.wrap-right
											span.val!= val
								+li('Окна', 'Пластиковые')
								+li('Планировка', 'Открытая')
								+li('Высота потолков', '99 м²')
								+li('Вход', 'Отдельный')
								+li('Ремонт', 'Предчистовая отделка')
								+li('Эл. мощность', '35 кВт')
								+li('Окна', 'Пластиковые')
								+li('Планировка', 'Открытая')
								+li('Высота потолков', '99 м²')
								+li('Вход', 'Отдельный')
						+e.wrap
							h2 Арендаторы
							+e.table-wrap
								table
									thead
										tr
											th Арендатор
											th МАП
											th ГАП
											th.text-center Договор
											th.text-center Индексация
											th Детализация арендного потока
									tbody 
										tr
											td Бургер Кинг
											td 290 000 ₽
											td 3 480 000 ₽
											td.text-center ДДА
											td.text-center 5%
											td ДДА до 02.2024г
										tr
											td Хорошая компания
											td 301 032 ₽
											td 3 612 384 ₽
											td.text-center КДА
											td.text-center 5%
											td ДА 13.03.2023 - 31.03.2026
										tr
											td Антидот ритейл
											td 320 000 ₽
											td 3 840 000 ₽
											td.text-center ДДА
											td.text-center 5%
											td ДДА до 12.2026г
						+e.wrap
							h2 Расположение
							+e.map: #map 
					script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=09afbf5f-475d-4f23-bb68-eb2d6371a737" type="text/javascript")
					script.
						var myMap;
						ymaps.ready(init);

						function init () {
							myMap = new ymaps.Map('map', {
									center: [55.77353559113589,37.59458184788507],
									zoom: 18
							}, {
									searchControlProvider: 'yandex#search'
							});
							myPlacemark = new ymaps.Placemark([55.77353559113589,37.59458184788507], {
									// Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
									//- balloonContentHeader: "Балун метки",
									//- balloonContentBody: "Содержимое <em>балуна</em> метки",
									//- balloonContentFooter: "Подвал",
									//- hintContent: "Хинт метки"
							}, {
								iconLayout: 'default#image',
								// Своё изображение иконки метки.
								iconImageHref: 'img/svg/map-pin-2.svg',
								// Размеры метки.
								iconImageSize: [48, 77],
								// Смещение левого верхнего угла иконки относительно
								// её "ножки" (точки привязки).
								iconImageOffset: [-24, -38]
							});
							myMap.geoObjects.add(myPlacemark);
						};
				+e.col.col-lg-5.col-xl-4.d-none.d-lg-block
					if secondVariant
						+sidePanel({
							status: false,

							start: 'Начальная цена',
							price: '48 112 100 ₽',
							discount: false,
							tax: false,

							features: false,

							btnOnTop: false,
							filledBtn: 'Принять участие',
							outlineBtn: 'Подготовка документов на участие',
						
							subtitle: false,
							list: [
								{
									key: 'Шаг',
									val: '283 850 ₽',
								},
								{
									key: 'Сумма задатка',
									val: '567 700 ₽',
								},
								{
									key: 'Внесение задатка до',
									val: '21.09.2023 23:59',
								},
								{
									key: 'Прием заявок до',
									val: '21.09.2023 23:59',
								}
							],

							person: {
								img: 'avatar-2.jpg',
								name: 'Алексей Черницкий',
								post: 'Эксперт по продажам'
							}
						})
					else
						+sidePanel({
							status: [
								{
									bgColor: 'linear-gradient(180deg, #58B971 0%, #A0D275 100%)',
									text: 'Быстрая сделка'
								},
								{
									bgColor: 'linear-gradient(180deg, #6BB8D0 0%, #4FD5FF 100%)',
									text: 'Ипотека'
								}
							],

							start: 'Стоимость объекта',
							price: '25 500 000 ₽',
							discount: '25 500 000 ₽',
							tax: true,

							features: true,

							btnOnTop: true,
							filledBtn: 'Предложить свою цену',
							outlineBtn: 'Расчитать ипотеку',

							subtitle: 'Финансовые показатели',
							list: [
								{
									key: 'Доходность',
									val: '14,5%',
								},
								{
									key: 'Окупаемость',
									val: '8 лет',
								},
								{
									key: 'Месячный арендный поток',
									val: '500 000 ₽',
								}
							],

							person: {
								img: 'avatar.jpg',
								name: 'Валентина Иванова',
								post: 'Эксперт по продажам'
							}
						})
	// end sProdCard