include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left-2')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right-2')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1"  inputmode='numeric')
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			button 
				+icon("search")
			input(type="text" placeholder="Поиск" inputmode='search')
			+e.delete: +icon('close')
		+e.result.custom-scroll
			a(href='#') Электронный аукцион
			a(href='#') Прямая продажа
			a(href='#') Продажа без объявлении цены
			a(href='#') Электронный аукцион
			a(href='#') Электронный аукцион
			a(href='#') Прямая продажа
			a(href='#') Продажа без объявлении цены
			a(href='#') Электронный аукцион

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)
			+e.row.row
				.col-lg
					h1= t
				.col-auto.order-last.order-lg-0
					+e.btn.btn.btn-outline.light(href='#')
						+icon('share')
						span.d-none.d-lg-inline Поделиться
				.col-auto.order-last.order-lg-0
					+e.btn.btn.btn-outline.light(href='#')
						+icon('like')
						span.d-none.d-lg-inline В избранное
				.col-12.p-0.m-0.d-none.d-lg-block
				.col-lg-auto
					+e.addres
						+img('img/svg/map-pin.svg')
						| Москва, ул Мясницкая, д 14/2 стр 2
				.col-lg-auto
					+e.metro
						+img('img/svg/metro-6.svg')
						| Москворечье&nbsp;#[span ~4 минуты пешком]
				.col-auto.me-auto.me-lg-0.ms-lg-auto
					+e.id ID: 177259

mixin page-head2(data)
	+b.page-head
		if data.container
			.container
				if data.items
					+breadcrumb('Главная', ...data.items)
				h1!= data.title
				if data.subtitle
					+e.subtitle!= data.subtitle
		else
			if data.items
				+breadcrumb('Главная', ...data.items)
			h1!= data.title
			if data.subtitle
				+e.subtitle!= data.subtitle

mixin fixedProdCard(...items)
	+b.fixed-prod-card
		.container
			+breadcrumb('Главная',...items)
			+e.row.row
				.col-sm-auto
					+e.img-wrap: +img('img/sProdCard-img-sm-2.jpg', 'bg')
				.col
					.h5 Продажа торговой площади 526 м²
					+e.inner-row.row
						.col-lg-auto
							+e.addres
								+img('img/svg/map-pin.svg')
								| Москва, ул Мясницкая, д 14/2 стр 2
						.col-lg-auto
							+e.metro
								+img('img/svg/metro-6.svg')
								| Москворечье&nbsp;#[span ~4 минуты пешком]
				.col-12.m-0.p-0.d-lg-none
				.col.col-lg-auto
					+e.btn.btn.btn-outline.light(href='#')
						+icon('share')
					+e.btn.btn.btn-outline.light(href='#')
						+icon('like')
				.col-auto
					+e.price
						.h2 25 500 000 ₽
						+e.price-per-meter Цена за м²:
							| 
							span 500 000 ₽

mixin parts(elem)
	script.
		addBlock(`#{elem}`)
	div(id=`${elem}Wrap`)

mixin chat()
	+b.chat: +icon('chat')

mixin scrollToTop()
	+b.scroll-to-top: +icon('chevron-up')

mixin sidePanel(data)
	+b.side-panel&attributes(attributes)
		+e.tags-row.row
			if data.status.length > 0
				each item in data.status
					.col-auto: +e.tag(style=`--bgColor: ${item.bgColor}`)!= item.text
			//- .col-auto: +e.tag(style='--bgColor: linear-gradient(180deg, #6BB8D0 0%, #4FD5FF 100%)') Ипотека
			//- Just Indent
		+e.start!= data.start
		+e.price-row.row
			.col
				+e.price.h1 
					!= data.price
					if data.tax
						+img('img/svg/downgrade.svg')
			if data.tax
				.col-auto
					+e.tax
						+img('img/svg/tax.svg')
						| УСН
		if data.discount
			+e.discount!= data.discount
		+e.link(href='#')
			| Кадастровый номер
			+icon('open-link')
		if data.btnOnTop
			+e.btn.btn.btn-primary.btn-lg(href='#')!= data.filledBtn
			+e.btn.btn.btn-outline-primary.btn-lg(href='#')!= data.outlineBtn
		if data.features
			+e.features-row
				.row
					.col-auto
						+e.feature
							span 425 м²
							| Площадь
					.col-auto
						+e.feature
							span 500 000 ₽
							| Цена за м²
					.col-auto
						+e.feature
							span 2 из 8
							| Этажи
		if data.subtitle
			+e.subtitle!= data.subtitle
		ul
			each listItem in data.list
				li
					span.wrap-left
						span.key!= listItem.key
					span.wrap-right
						span.val!= listItem.val
		if !data.btnOnTop
			+e.btn.btn.btn-primary.btn-lg(href='#')!= data.filledBtn
			+e.btn.btn.btn-outline-primary.btn-lg(href='#')!= data.outlineBtn
			+e.requierd Для участия в процедуре необходима электронная подпись
		+e.person
			+e.img-wrap: +img(`img/${data.person.img}`, 'bg')
			div
				+e.name!= data.person.name
				+e.post!= data.person.post
		+e.btn-row.row
			.col
				+e.action-btn.btn.btn-sm(href='#')
					+icon('phone')
					| Позвонить
			.col
				+e.action-btn.btn.btn-sm(href='#')
					+icon('email')
					| Написать

mixin catalogCard(data)
	+b.catalog-card&attributes(attributes)
		if data.banner
			+e.banner!= data.banner
		else
			+e.favorite(href='#' class=(data.likeClass)): +icon('like')
			+e.swiper--js.swiper
				.swiper-wrapper
					- for(let i = 0; i < data.slider.slidesCount; i++)
						+e.slide.swiper-slide
							+e.img-wrap(data-fancybox=`gallery-${data.slider.img}-${data.slider.gallery}` data-src=`img/catalog-card-img-${data.slider.img}-lg.png`): img(src=`img/catalog-card-img-${data.slider.img}.jpg` alt='').object-fit-js
				+e.slider-info
					+e.slider-count
						span.current-slide 01
						span.all-slides /23
					+e.pagination-wrap
						.swiper-pagination
			+e.content(href='#')
				+e.head-row
					.row
						.col-auto
							+e.id ID: 177259
						if data.tag
							each item in data.tag
								.col-auto
									+e.tag(style=`--bgColor: ${item.bgColor}`)!= item.text
									//- +e.tag(style='--bgColor: linear-gradient(180deg, #6BB8D0 0%, #4FD5FF 100%)') Ипотека
				+e.title!= data.title
				+e.price-row.row
					.col-auto
						+e.price
							!= data.price.text
							if data.price.icon
								+img(`img/svg/${data.price.icon}`)
					.col-auto
						+e.discount 29 600 000 ₽
				ul
					li
						+img('img/svg/map-pin.svg')
						| Москва, ул Мясницкая, д 14/2 стр 2 
					li
						+img(`img/svg/${data.metro}`)
						| Москворечье  ~4 минуты пешком
				+e.features-row
					.row
						if data.features
							.col-auto
								+e.feature
									| Площадь
									span!= data.features.area
							.col-auto
								+e.feature
									| Цена за м²
									span!= data.features.price
							.col-auto
								+e.feature
									| Этажи
									span.text-secondary
										span.num!= data.features.floor
										| #{data.features.allFloors}

mixin controlsBtn()
	+b.controls-btn
		+e.btn--filter.btn.btn-light(data-fancybox='filter-2' data-type="ajax" href='modal/filter.html')
			+icon('filter')
			| Фильтры
		+b.popup.popup-js
			a.btn.btn-light.popup-btn-js.controls-btn__btn.controls-btn__btn--search(href='#'): +icon('save-search')
			+e.content
				+e.head 
					| Поиски
					.close
				+e.body.custom-scroll
					+e.item
						.row
							.col
								.h6 Продажа недвижимости
							.col-auto
								+e.delete(href="#")
									| Удалить
									+icon('delete') 
						p Торговое помещение, Офис, от 500 м², Под чистовую отделку
						+input('Электронная почта', 'text')
						+e.btn.btn.btn-primary(href='#') Получать на почту
					+e.item
						.row
							.col
								.h6 Аренда недвижимости
							.col-auto
								+e.delete(href="#")
									| Удалить
									+icon('delete') 
						p Торговое помещение, Офис, от 500 м², Под чистовую отделку
						+input('Электронная почта', 'text')
						+e.btn.btn.btn-primary(href='#') Получать на почту
					+e.item
						.row
							.col
								.h6 Аренда недвижимости
							.col-auto
								+e.delete(href="#")
									| Удалить
									+icon('delete') 
						p Торговое помещение, Офис, от 500 м², Под чистовую отделку
						+input('Электронная почта', 'text')
						+e.btn.btn.btn-primary(href='#') Получать на почту
					+e.item
						.row
							.col
								.h6 Продажа недвижимости
							.col-auto
								+e.delete(href="#")
									| Удалить
									+icon('delete') 
						p Торговое помещение, Офис, от 500 м², Под чистовую отделку
						+input('Электронная почта', 'text')
						+e.btn.btn.btn-primary(href='#') Получать на почту

mixin imgCover(img, imgSm)
	picture.img-cover
		source(media="(min-width: 768px)", srcset=`img/${img}`)
		img(src=`img/${imgSm}`, alt='').object-fit-js


mixin blogItem(img,cat,title,date="24 апр 2023")
	+b.blog-item
		+e.img-wrap
			+img(`img/${img}.jpg`)
		+e.category= cat
		+e.title.H2= title
		+e.date= date